<a href="https://colab.research.google.com/github/Balz10/CWW_Assignments/blob/main/Todos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Creating a todo list for my weekly activities
todos = [("Monday", ["Pray", "Wash Up", "Eat", "Work", "Sleep"]),
("Tuesday", ["Church", "Football", "Classes"]),
  ("Wednesday", ["Movies", "Manga", "Anime"]),
     ("Thursday", ["Music Practice", "Sight Seeing"]),
         ("Friday", ["Gym", "Hang Out", "Gaming", "Arcade"]),
                  ("Saturday", ["Laundry", "Sanitation", "Basketball", "Friends"]),
                           ("Sunday", ["Service", "Rest"]),]

In [13]:

#Accessing the ToDos for a Particular Day, Using Iteration and/or Indexing
for day, tasks in todos:
  if day == "Wednesday":
    print(f"Todos for {day}: {tasks}")

Todos for Wednesday: ['Movies', 'Manga', 'Anime']

In [ ]:
#Accessing the ToDos for Each Day
for day, tasks in todos:
  print(f"Todos for {day}: {tasks}")

Todos for Monday: ['Pray', 'Wash Up', 'Eat', 'Work', 'Sleep']
Todos for Tuesdsay: ['Church', 'Football', 'Classes']
Todos for Wednesday: ['Movies', 'Manga', 'Anime']
Todos for Thursday: ['Music Practice', 'Sight Seeing']
Todos for Friday: ['Gym', 'Hang Out', 'Gaming', 'Arcade']
Todos for Saturday: ['Laundry', 'Sanitation', 'Basketball', 'Friends']
Todos for Sunday: ['Service', 'Rest']

In [16]:
bio = {
    "Name" : "Austin",
    "Age" : 24,
    "State" : "Benue",
    "Education" : "Bsc",
    "Skills" : ["Python", "Football", "Data Analyst"]
}

In [3]:
for key, value in bio.items():
  print(f"{key}: {value}")

Name: Austin
Age: 24
State: Benue
Education: Bsc
Skills: ['Python', 'Football', 'Data Analyst']

In [19]:
for key, value in bio.items():
  if key == "Skills":
    print("My Skills are:")
    for skill in value:
          print(skill)

My Skills are:
Python
Football
Data Analyst

In [20]:
for key, value in bio.items():
  if key == "Skills":
    print("My Skills are:")
    for skill in value:
      print(skill)
  else:
    print(f"My {key} is {value}")

My Name is Austin
My Age is 24
My State is Benue
My Education is Bsc
My Skills are:
Python
Football
Data Analyst

In [6]:
doubled_numbers = [num * 2 for num in range(1, 6)]
print(doubled_numbers)

[2, 4, 6, 8, 10]